body,html{
	background-image: url(ram.jpg);
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
h1{
	padding: 10%;
	text-decoration: underline;
	font-weight: 900;
	font-size: 40px;
	text-transform:uppercase;

}
h3{
		text-decoration: underline;
	
}
button{
	border-radius: 20px;
	width: 150px;
	height: 40px;
	text-transform:uppercase;
	background: orange;
	border: orange;


}
